/**
  * Colors
  *
  * red: #ff6b6b
  * black: #2f3335
  * white: #ffffff
  */


/* Basics */
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: rgb(255, 255, 255); /* WebKit/Blink Browsers */
  color: #ff6b6b;
}
::-moz-selection {
  background: rgb(255, 255, 255); /* Gecko Browsers */
  color: #ff6b6b;
}

/* Elements */
.button {
  padding: 0.625rem 2.5rem;
  display: inline-block;
  width: 100%;
  border: 0.125rem solid #ff6b6b;
  border-radius: 2.5rem;
  text-align: center;
  margin-bottom: 1.25rem;
  color: #ff6b6b;
  text-decoration: none;
  font-weight: 500;
}
.button.filled {
  background-color: #ff6b6b;
  color: rgb(255, 255, 255);
}

/* Component - NavigationBar */
navigationbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2.5rem;
}
navigationbar .navigation {
  visibility: hidden;
}
navigationbar .logo {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  color: rgb(30, 30, 30);
  text-decoration: none;
}

/* Stage */
.stage {
  padding: 2.5rem 1.25rem;
}
.stage .title {
  color: #ff6b6b;
  font-size: 1.35rem;
  margin-bottom: 1.25rem;
}
.stage .text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

/* Advantages */
.advantages {
  padding: 2.5rem 1.25rem;
}
.advantages .title {
  margin-bottom: 1.25rem;
  color: #ff6b6b;
  position: relative;
}
.advantages .title::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, .625rem);
  width: 2.5rem;
  height: .125rem;
  background-color: #ff6b6b;
}
.advantages .item {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.advantages p {
  width: 50%;
  margin: 0 auto;
}
.advantages img {
  width: 50px;
  height: auto;
}


@media (min-width: 50rem) {

  /* Elements */
  .button {
    width: auto;
    margin-right: 1.25rem;
  }

  /* Stage */
  .stage > .inside {
    width: 50%;
    margin: 0 auto;
  }


}
